<div class="i-container">
<h2>Results</h2>

<img id="frame" src=<%= @photo_path %>
</div>

<div style="padding: 50px;">
  
  <% if @label_response  %>
    <h2>Image Extraction</h2>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Label</th>
          <th>Confidence</th>
        </tr>
      </thead>
    <tbody>
      <%  @label_response.labels.each do | label | %>  
        <tr>
          <td><%= label.name %></td>
          <td><%= label.confidence %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
  </div>

  <div style="padding: 50px;">
  <% if @text_response && !@text_response[0].empty? %>
    <h2>Text Extraction</h2>
    <h5 style="padding-top:10px">Line Extraction </h5>
    <table class="table table-bordered table-condensed">
      <thead class="thead-dark">
      <tr>
      <th scope="col">Line</th>
      <th scope="col">Copy</th>
      <th scope="col">Confidence</th>
      </tr>
      </thead>
      <tbody>
        <% num = 1 %>
        <% @text_response.text_detections.each do | text | %>  
          <% if text[:type] === "LINE" %>
          <tr>
              <td scope="row">Line: <%= num %></td>
              <td scope="row"><%= text.detected_text %></td>
              <td scope="row"><%= text.confidence %></td>
          </tr>
        <% num += 1 %>
        <% end %>
        <% end %>
      </tbody>
      </table>
      <h5 style="padding-top:10px">Word Extraction </h5>
      <table class="table table-bordered table-condensed">
      <thead class="thead-dark">
      <tr>
      <th scope="col">Word</th>
      <th scope="col">Copy</th>
      <th scope="col">Confidence</th>
      </tr>
      </thead>
      <tbody>
        <% num = 1 %>
        <% @text_response.text_detections.each do | text | %>  
          <% if text[:type] === "WORD" %>
          <tr>
              <td scope="row">Word: <%= num %></td>
              <td scope="row"><%= text.detected_text %></td>
              <td scope="row"><%= text.confidence %></td>
          </tr>
        <% num += 1 %>
        <% end %>
        <% end %>
      </tbody>
      </table>
  <% end %> 

  </div>

  <style>
  .i-container {
    justify-content: center;
    text-align: center;
}
 #frame { 
    width: 25%;
    padding-top: 20px;
}
</style>